

.logo-img {
  height: 10vh;
  width: 20vw;
  opacity: 100%;
}

.header-title-box{
  width: 50vw;
}

.navbar-collapse {
  display: flex;
  flex-direction: row;
  margin-left: 0vw;
}


.home-box{
  display: flex;
  margin-left: 5vw;
  margin-right: 5vw;
}

.hero-img-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.header-member-box {
  margin-right: 5vw;
}

.hero-img {
  width: 40vw;
}

.sign-up-form {
  max-width: 20vw;
}